<?xml version="1.0"?>
<configuration>

  <system.web>
    <customErrors mode="Off" defaultRedirect="error.aspx"></customErrors>
  </system.web>
    
    <location path="powershell.console.ui.resources.js">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
  
    <location path="logon.aspx">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
  
    <location path="logout.aspx">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
  
    <location path="timeout.aspx">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
  
    <location path="error.aspx">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>

    <system.webServer>
        <defaultDocument>
            <files>
                <clear/>
                <add value="logon.aspx"/>
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
