<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="managementOdata" type="Microsoft.Management.Odata.Core.DSConfiguration, Microsoft.Management.Odata, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756, processorArchitecture=MSIL" />
  </configSections>
  <managementOdata schemaFileName="Schema.mof" resourceMappingFileName="Schema.xml">
    <customAuthorization type="Microsoft.Samples.Management.OData.BasicPlugins.CustomAuthorization" assembly="./bin/ODataSvc.dll" />
    <powershell>
      <sessionConfiguration type="Microsoft.Samples.Management.OData.BasicPlugins.SessionConfiguration" assembly="./bin/ODataSvc.dll" />
    </powershell>
    <commandInvocation enabled="true" />
    <wcfDataServicesConfig>
    </wcfDataServicesConfig>
  </managementOdata>
  <appSettings>
    <add key="RootPath" value="/Users/bruno/Projects/PowerShell/v1.0" />
    <add key="MonoServerDefaultIndexFiles" value="default.htm" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--
          <serviceMetadata httpGetEnabled="true"/>
   		  <serviceDebug includeExceptionDetailInFaults="true"/> 
   		  -->
          <serviceAuthorization serviceAuthorizationManagerType="Microsoft.Management.Odata.Core.CustomAuthorizationManager, Microsoft.Management.Odata, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <system.web>
  	<httpHandlers>
  		
  		<add verb="*" path="*.svc" type="System.ServiceModel.Channels.SvcHttpHandlerFactory, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756" />
  	</httpHandlers>
  </system.web>
  <system.webServer>
  	<defaultDocument enabled="true">
         <files>      
            <clear/>               
            <add value="Microsoft.Management.Odata.svc"/>
         </files>
      </defaultDocument>
    <security>
      <authentication>
        <anonymousAuthentication enabled="false" />
        <basicAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>
  <system.web>
    <compilation>
      <assemblies>
        <add assembly="EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>