<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.5">
      <assemblies>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off">
    </customErrors>
    <!-- Note that the authentication timeout should be at least twice the session timeout -->
    <authentication mode="Forms">
      <forms name=".PWA" loginUrl="default.aspx" defaultUrl="default.aspx" timeout="41" slidingExpiration="true" cookieless="UseCookies" protection="All" requireSSL="false" enableCrossAppRedirects="false" path="/" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <sessionState timeout="20" />
    <globalization culture="auto" uiCulture="auto" />
    <httpRuntime executionTimeout="110" />
  </system.web>
  <location path="css/site.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="*.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="maxSessionsAllowedPerUser" value="3" />
    <add key="RootPath" value="/Users/bruno/Projects/PowerShell/v1.0" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="262144" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true">
          <clear />
          <add fileExtension="." allowed="true" />
          <!-- default document -->
          <add fileExtension=".aspx" allowed="true" />
          <add fileExtension=".axd" allowed="true" />
          <!-- web resources -->
          <add fileExtension=".css" allowed="true" />
          <add fileExtension=".gif" allowed="true" />
          <add fileExtension=".ico" allowed="true" />
          <add fileExtension=".js" allowed="true" />
          <add fileExtension=".png" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>