<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="wsMan" type="Microsoft.WSMan.Configuration.WSManConfigurationSection, Microsoft.WSMan, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756" />
	</configSections>
	<wsMan>
		<enumeration>
			<add resourceUri="http://schemas.microsoft.com/wbem/wsman/1/wmi" dialect="http://schemas.microsoft.com/wbem/wsman/1/WQL" filterType="Microsoft.WSMan.Cim.CimEnumerationFilter, Microsoft.WSMan.Cim, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756" handlerType="Microsoft.WSMan.Cim.CimEnumerationRequestHandler, Microsoft.WSMan.Cim, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756" />
		</enumeration>
		<management>
			<add resourceUri="http://schemas.microsoft.com/wbem/wsman/1/windows/shell" handlerType="Microsoft.WSMan.PowerShell.PowerShellTransferHandler, Microsoft.WSMan.PowerShell, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756" /> 
		</management>
	</wsMan>
</configuration>
